@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container-fluid">
    <h1 class="display-4">Bienvenidos a iXNet</h1>
    <img src="~/img/iXNet.png" class="container-fluid img-fluid" />

    <p></p>
</div>
